# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\1.研究生三年的学习\Mybatis-study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
